#myMessage
{
  border: 2px solid #dedede;
  background-color: #f1f1f1;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
}

#sendbutton
{
button-align:bottom;
}

.wrapper
{
  margin-right: auto; /* 1 */
  margin-left:  auto; /* 1 */

  height: 100%;
  width: 100%;

  padding-right: 10px; /* 3 */
  padding-left:  10px; /* 3 */
}

.position
{
  position: fixed;
  border: 1px solid blue;
  background-color: rgba(255,200,200,0.5);
  width: 300px;
  height: 100px;
  bottom: 0;
  left: 0;
  right: 0;
}
