<!DOCTYPE html>
<html>
	<head>
		<title>Home</title>
		<link rel="stylesheet" type="text/css" href="index.css" />

	</head>
	<body>
	<div id="menu">
	<dl id="navigatie">
	<dt><a href="index">Home</a></dt>
	<dt><a href="logout">Logout</a></dt>

		</dl></br>
	</br></br>
	<h3>Op deze website vind je informatie over de wereld en verschillende steden</h3>
	<p>Er zal wat informatie over verschillende steden op deze website te vinden zijn. Ook zullen er wekelijks nieuwe mooie afbeeldingen verschijnen.</p>
	<h3>Het zonnestelsel</h3>
	<p>De aarde is niet alleen. Er zijn 8 andere planeten :</br>
	Mercurius</br>
	Venus </br>
	Mars</br>
	Jupiter</br>
	Saturnus</br>
	Neptunus </br>
	Uranus</br>
	Pluto</br></p>

	Die planeten kun je in twee grote familie splitsen: De gasplaneten en de steenachtige planeten (aardse planeten). </br>
	De aarde behoort bij de steenachtige planeten. De aarde is de vijfde grootste planeet en de derde planeet in ons zonnestelsel.</br>
	De aarde draait rond de zon. De zon is een grote ster die de planeten verwarmd.</br>

	<h3>De aarde zelf.</h3>
	De oppervlakte van de aarde is 510.100.933 km². De totale afstand rond de evenaar is 40.076.km, maar gemeten over de polen is die afstand slechts 40.009km.</br>
	Het totale gewicht is 5.977.102,4 kg. Dat is een getal waarbij niemand zich iets kan voorstellen! Toch is het helemaal niet zwaar voor de aarde.</br>

	<h3>De werelddelen</h3>
	220 miljoen jaar geleden vormden alle werelddelen samen één groot blok dat het ‘Pangea’ werd genoemd. </br>
	De zeeën vormde een oceaan, ‘Panthalssa’ genaamd. Er zijn 5 werelddelen. Maar Amerika is in twee continenten gesplitst. </br>
	Daarom zijn er 6 continenten:</br>
	Noord -Amerika</br>
	Zuid–Amerika,Azie</br>
	Europa, Afrika</br>
	Oceanie</br>
	Antarctica</br>

	<h3>Waaruit is de aarde samengesteld?</h3>
	De straal van de aarde is 6370 km. De aardkorst waarop wij leven is erg stevig en tussen 30 en 70 km dik.</br>
	Als je dat vergelijk met een appel, dan is aardkorst is veel dunner dan een appelschil. Er zijn 4 lagen in de aarde; de aardmantel,de aardkorst, de binnenste kern en de buitenste kern.</br>

	<h3>Vulkanen</h3>
	Vulkanen hebben een kegelvorm en een krater van boven. Het zijn een soort schoorstenen die in direct contact staan met de aardmantel die zich onder de aardkorst bevindt.</br>
	De lava waaruit de aardmantel bestaat ,stijgt en spuit aan de oppervlakte uit de kraters met een temperatuur die ligt tussen 800 en 1200 °C.
	Vulkanen geven ook talrijke gassen af, die soms heel gevaarlijk kunnen zijn voor de gezondheid.</br>
	Sommige vulkanen slapen tientallen jaren en ontwaken dan met een vernietigende en hevige eruptie. Andere vulkanen , zoals de Etna in Sicillie, zijn voortdurend actief.</br>
	Magma is een soort vuur die in de magmakamer zit. Als er een eruptie komt, gaat het van de magmakamer tot de hoofdkrater en de lava barst uit.</br>

	<h3>Geschiedenis van de aarde.</h3>
	Rond 600 vr. Chr.dachten de mensen dat de aarde plat was. Ze waren overtuigd dat als ze aan het einde van de zee kwamen, ze in een oneindige leegte zouden vallen. </br>
	Ze dachten eveneens dat de sterren, planeten, de maan,en de zon rond de aarde draaiden. Maar pas later in de Middelleeuwen kwam men er achter dat dat niet zo was. </br>
	In 1543 schreef Nicolas Copernicus, een boek waarin hij aantoonde dat de zon het centrum is en dat de aarde en de andere planeten rond de zon draaiden. </br>
	De onderzoekers denken dat de aarde 4.5 miljard oud is.</br>

	<h3>De wereld en zijn inwoners</h3>
	In de loop van de 100 jaar is de wereldbevolking verdrievoudigd. Dat is normaal want voor die tijd, hadden we geen geneeskundige medicijnen.</br>
	Nu kunnen we de mensen langer laten leven dan vroeger. China telt zelf 1,2 miljard inwoners.In heel Azie wonen er al 3 miljard inwoners. </br>
	In 1650 waren er nog maar 500 miljoen mensen op de aarde. In 2000 waren we met 6,26 miljard. Nu zijn er 6, 5 miljard.</br>

	<h3>Talen</h3>
	Er worden meer dan 5000 verschillende talen gesproken in de wereld. (zonder de regionale talen en de lokale dialecten mee te tellen)</br>
	De meeste voorkomend talen zijn:Frans,Engels,Chinees,Duits ,Spaans, Hindi, Arabisch en Russisch.</br>
	Enkele records:</br>
	De hoogste waterval ter wereld is de Salto Angel. Ze bevindt zich in Venezuela. Ze is 979 m hoog! Ze valt naar beneden van top van de Auyantepuy.</br>
	De krachtigste rivier ter wereld is de Amazone. Met haar lengte van 6400 km is de Amazone de op een na langste rivier van de aarde. (na de Nijl )</br>
	De grootste staat : Rusland is het grootste land ter wereld. Met een oppervlakte van 17.075.400 km²!</br>
	De grootste woestijn: De Sahara bevindt zich in het noordelijke deel van Afrika. Heeft een oppervlakte van 8.800.000km² .Bijna zo groot als Australie.</br>
	De allerkleinste staat : In het hartje van Rome ligt Vaticaanstad, het kleinste land ter wereld. De paus is er de leider en bestuurt het land samen met het College der Kardinalen . De oppervlakte is 44 hectaren 0,44 km²</br>
	De grootste oceaan: De Stille oceaan is de grootste oceaan van de planeet. Zijn oppervlakte is wel 180 miljoen km². De diepte van de Stille Oceaan gaat van 3.957 tot 11.034 ter hoogte van de Challengerdiepte, in de oceaantrog van de Mariannes.</br>
	Dit was mijn spreekbeurt! Ik hoop dat jullie iets bijgeleerd hebt!</br>


</div>
		<div id="footer">
			<div id="Copyright free" align="bottom">
		</div>
		</div>
	</body>
</html>
